.body {
    /* Делаем страницу высокой для прокрутки */
    background-image: url('./images/Линяга.png');
    /* Замените на путь к вашему изображению */
    background-size: cover;
    /* Растягиваем фон на всю область */
    background-attachment: fixed;
    /* Фиксируем фон */
    background-position: center;
    /* Центрируем фон */
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 3080px;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    background-color: rgb(35, 38, 48);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.heading_1part {
    margin-left: 25px;
    margin-right: 1150px;
    width: auto;
    height: 30px;
}

.heading_2part {
    width: auto;
    height: 30px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Times New Roman", Arial, Verdana, sans-serif;
}

.first_screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 780px;
    background-image: url("./images/Fon_menu.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.h1_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    margin-top: 2%;
    margin-left: 50px;
}

.gradient {
    display: flex;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7147233893557423) 23%, rgba(0, 0, 0, 0.8631827731092436) 44%, rgba(0, 0, 0, 1) 100%);
    margin-top: -300px;
    height: 300px;
    width: 100%;
}

.examplebtn {
    margin-top: 1%;
    margin-left: 2%;
    font-family: 'Ubuntu';
    font-size: 30px;
    color: #000000 !important;
    padding: 5px 20px;
    border-radius: 0px;
    border: 2px solid #000000;
    background: #ffffff00;
    width: 250px;
    height: 75px;
}

.examplebtn:hover {
    color: #ffffff !important;
    background: #3c3a39;
}

.second_screen {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: au;
}

.table {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    margin: auto;
    width: 80%;
}

.row_first {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-bottom: 0%;
}

.row_second {
    display: flex;
    justify-content: center;
    margin-top: -5px;
}

.row_1 {
    background: url(cards/Cell_1.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    border: 20pt solid #000000;
    

}

.column_1 {
    width: 300px;
}

.row_2 {
    background: url(cards/Cell_2.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    border: 20pt solid #000000;

}

.column_2 {
    width: 300px;
}

.row_3 {
    background: url(cards/Cell_3.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    border: 20pt solid #000000;

}

.column_3 {
    width: 300px;
}

.row_4 {
    background: url(cards/Cell_4.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    border: 20pt solid #000000;

}

.column_4 {
    width: 300px;
}

.row_5 {
    background: url(cards/Cell_5.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    border: 20pt solid #000000;
}

.column_5 {
    width: 300px;
}

.row_6 {
    background: url(cards/Cell_6.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    border: 20pt solid #000000;
}

.column_6 {
    width: 300px;
}